#phone01 img {
  position: absolute;
  left: -2%;
  width: 104%;
  top: -2%;
  height: 104%;
  object-fit: cover;
  filter: grayscale(80%);
  transition: 0.7s filter, 0.7s scale, 0.7s rotate;
}

#phone01:hover img {
  scale: 0.97;
  filter: grayscale(0%);
}

.container:has(#phone01) {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 8;
}

@media (max-aspect-ratio: 14/9) {
  .container:has(#phone01) {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 10;
  }
}

@media (max-aspect-ratio: 11/9) {
  .container:has(#phone01) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 12;
  }

  #phone01 img {
    left: 5%;
    width: 90%;
    top: 5%;
    height: 90%;
  }
}

@media (max-aspect-ratio: 1) {
  /** do not retrigger the animation */
  .container:has(#phone01) {
    overflow: hidden !important;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    size: 0;
  }
}
