#spotify {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  filter: grayscale(0%);
}

#spotify * {
  pointer-events: none;
  user-select: none;
}

#spotify-album-container {
  transition: 1s;
  pointer-events: initial;
  width: 100%;
  height: 100%;
  scale: 1.1;
  filter: grayscale(80%) opacity(0.3) blur(2px);
}

#spotify-album-container:hover {
  scale: 1;
  filter: grayscale(20%) opacity(0.9);
}

.spotify-album {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: 1s;
  z-index: -1;
}

#spotify-info {
  height: 100%;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

#spotify-info > img {
  width: 15cqmin;
  height: 15cqmin;
  z-index: 2;
  padding: 5cqmin;
  margin-left: 2cqmin;
  margin-top: 2cqmin;
  backdrop-filter: blur(4px);
  mask: radial-gradient(black, black 40%, transparent 55%, transparent 60%);
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  object-fit: contain;
  object-position: center;
  margin-bottom: auto;
}

#spotify-text {
  display: flex;
  flex-direction: column;
  gap: 1cqmin;
  padding: 8cqmin;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 5px black;
}

#spotify-text:before {
  content: "";
  transition: 1s backdrop-filter, 1s background;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150%;
  z-index: -1;
  position: absolute;
  mask: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 60%, black);
  background: transparent;
}

#spotify:hover #spotify-text:before {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.7);
}

#spotify-text > p,
#spotify-text > h1,
#spotify-text > h2 {
  color: var(--color-on-background);
  margin: 0;
  margin-left: -10%;
  padding-left: 10%;
  padding-right: 2%;
  overflow: visible !important;
  mask: linear-gradient(black 99%, transparent 100%);
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#spotify-text > p {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-size: 5cqmin;
  font-weight: 200;
  opacity: 0.7;
}

#spotify-text > h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 8cqmin;
  line-height: 95%;
  padding-top: 0.9cqmin;
  padding-bottom: 0.9cqmin;
  margin-top: -0.9cqmin;
  margin-bottom: -0.9cqmin;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-weight: 300;
}

#spotify-text > h2 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-size: 6cqmin;
  font-weight: 300;
}

.container:has(#spotify) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

@media (max-aspect-ratio: 11/9) {
  .container:has(#spotify) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
}

@media (max-aspect-ratio: 1) {
  .container:has(#spotify) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
}

@media (max-aspect-ratio: 7/9) {
  /** do not retrigger the animation */
  .container:has(#spotify) {
    overflow: hidden !important;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    size: 0;
  }
}
